<section style="background-image: url({{ image }}); {% if adjusted %}
  background-position: 25% 100%
{% endif %}">
  <div class="hero-container">
    <p class="eyebrow">{{ eyebrow }}</p>
    <h2 class="hero notched left-padded">
      {{ title }}
    </h2>
  </div>
</section>
