footer {
  color: var(--blue);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.5rem;
  background-color: var(--gunmetal);
  justify-content: space-between;
  min-height: 200px;
}

.footer-image {
  height: auto;
  margin-left: 1.25rem;
  max-width: 170px;
}

.social-section {
  font-weight: 300;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
}


@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .footer-image {
    margin-left: auto;
    margin-right: auto;
  }

  .social-section {
    margin-left: auto;
    margin-right: auto;
  }
}
