<div class="navbar">
  <a href="/">
    <img class="logo" src="/images/logo.png" alt="Nikola Logo">
  </a>
  <div class="menu-container">
    <ul class="menu">
      <li>
        <a href="/fleet-command">Fleet Command</a>
      </li>
      <li>
        <a href="/service-portal">Service Portal</a>
      </li>
      <li>
        <a href="/nikola-now">Nikola Now</a>
      </li>
    </ul>
  </div>
</div>
